section {
    overflow: hidden;
    height: 100%;
    width: 100%;

    padding: 1rem;
}

.panel_row {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.panel_col {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.card {
    height: 100%;
    width: 100%;
}

.card:hover {
    border-radius: 10px;
    box-shadow: 0 0 0.9rem 0.1rem currentColor;
}
